h3 {
    font-size: 1.5rem;
    color: #3c5899;
    margin: 1rem;
}

.tabs {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.tabs button {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
    user-select: none;
    -webkit-user-select: none;
}

.tabs button.active {
    color: rgb(25, 8, 129);
}

.tabs button .fa-icon {
    margin-right: 15px;
}

.tabs button.active {
    background-color: #4CAF50;
    color: white;
}

.tabs button:not(.active) {
    background-color: #e0e0e0;
    color: #888;
}

.tabs button:hover:not(.active) {
    background-color: #ddd;
    color: #131e7c;
}

.answers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0.5rem;
}

.column {
    flex: 1;
    margin: 0 15px;
    position: relative;
}

.column:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: -1rem;
    bottom: 0;
    width: 1px;
    background-color: #ccc;
}

.answer-box {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.answer-box span {
    margin-right: 10px;
}

.answer-box input[type="text"] {
    flex: 1;
    padding: 8px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    font-size: 1rem;
}

.answer-box input[type="text"]:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

}

.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 2px;
    padding: 0.5rem 0.7rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    user-select: none;
    -webkit-user-select: none;
    font-size: 1rem;
}

.checkbox-container:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px;
    width: 15px;
    height: 15px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

.submit,
.clear {
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit {
    background-color: #4CAF50;
    color: white;
}

.submit:hover {
    background-color: #45a049;
}

.clear {
    background-color: #f44336;
    color: white;
}

.clear:hover {
    background-color: #e53935;
}

@media (max-width: 768px) {
    .answers {
        flex-direction: column;
        align-items: center;
    }

    .column {
        margin: 10px 0;
    }

    .column:not(:last-child)::after {
        display: none;
    }

    .answer-box {
        width: 100%;
        justify-content: center;
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: rgba(105, 248, 172, 0.816);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    width: 80%;
    height: 500px;
    max-width: 1200px;
}

.popup-content h2 {
    font-size: 2rem;
    color: #505050;
    margin: 1rem;
}

.feedback-message {
    font-size: 1.5rem;
    color: #01207dd6;
    margin: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.feedback-columns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feedback-column {
    font-size: 2rem;
    margin: 1rem;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.close-btn:hover {
    color: red;
    transform: scale(1.1);
}