/* Body Styles */
body {
    background: linear-gradient(15deg, #f2a7a7, #77b4f6);
    width: 100%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
}

/* Header Styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: rgba(249, 227, 195, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    /* Add box shadow */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Adjust values for your desired shadow effect */
}


/* Footer Styles */
footer {
    width: 100%;
    top: 0; /* Adjusted to top */
    left: 0;
    background-color: rgba(249, 227, 195, 0.8);
    height: 8vh;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    /* Add box shadow to the top side */
    box-shadow: 0px -8px 15px rgba(0, 0, 0, 0.1); /* Adjust values for your desired shadow effect */
}

footer p {
    margin: 0; /* Remove default margin */
}

a {
    text-decoration: none;
    cursor: pointer;
    padding: 0.3rem;
    margin: 0.3rem;
}

a:hover {
    background: linear-gradient(135deg, #fcd86d, #2bffff, 0.9); /* Stylish gradient colors */
    color: #ff6363; /* Text color on hover */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Optional: Add a shadow for depth */
    border: 2px solid #007bff88;
}


/* Container Styles */
.container {
    width: 100%;
    border-radius: 10px;
    margin-top: 5rem;
    padding-bottom: 1vh; /* Add padding to account for footer */
    box-sizing: border-box; /* Include padding in the total width */
}

/* Heading Styles */
h1, h2 {
    text-align: center;
    color: #333;
}

/* Input Styles */
.input-title {
    font-size: 25px;
    color: #555;
}

.input-area {
    width: 95%;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 19px;
    resize: none;
    font-style: normal;
    font-family: 'Calibri', Times, serif;
}

.input-area:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Button Styles */
button {
    padding: 8px 15px;
    margin: 0 10px;
    font-size: 14px;
    border-color: #e1dede;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: #3c5899;
    color: rgb(255, 255, 255);
    transition: ease-out;
    box-shadow: 0px 0px 10px rgba(35, 35, 35, 0.7);
}

/* Timer Styles */
#timer {
    display: inline-block;
    font-size: 2rem;
    color: #6a0753;
    font-weight: bold;
    margin-right: 2rem;
}
