/* Body Styles */
body {
    background: linear-gradient(15deg, #f2a7a7, #77b4f6);
    width: 100%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background: linear-gradient(135deg, #2c3e508f, #34495e, #5d6d7e8a);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);

}

/* Footer Styles */
footer {
    width: 100%;
    margin-top: 50px;
    background: linear-gradient(135deg, #2c3e508f, #34495e, #5d6d7e8a);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: 0px -8px 15px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    color: whitesmoke;
}

footer a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 132, 255);
    padding: 4px 8px;
    /* Increased padding for a button-like appearance */
    border: solid #ffffff 1px;
    border-radius: 7px;
    background-color: whitesmoke;
    /* Added background color */
    font-weight: bold;
    /* Added bold text for button-like appearance */
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

footer a:hover {
    text-decoration: none;
    background-color: #005881c1;
    /* Darker background on hover */
    color: #fff9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    transform: translateY(-3px);
    transition: ease-in-out 0.3s;
}

.container {
    width: 100%;
    margin: 0;
}

.task-content {
    display: none;
}

.task-content.active {
    display: flex;
    width: 100%;
}

.tab-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f129;
    border-top: 1px solid #ccc;
    /* Add space between the content and the buttons */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.tab-button {
    width: 50%;
    padding: 15px 2px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background-color: #f1f1f1;
    transition: background-color 0.3s ease-in;
    font-size: 20px;
    font-weight: 700;
    color: #3c58995a;
}

.tab-button.active {
    background-color: #00817d;
    color: white;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.tab-button:hover {
    background-color: #005881c1;
    transform: translateY(0px);
    transition: ease-in-out 0.3s;
}





/* Container Styles */
.container {
    margin-top: 50px;
    padding: 5px;
    display: flex;
    width: 100%;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    overflow: hidden;
    box-sizing: border-box;
}

.left,
.right {
    flex: 1;

    overflow-y: auto;
}

.left {
    background: linear-gradient(15deg, #6eb2c366, #f5fcd3b3);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    margin-top: 50px;
    width: 96%;
    height: 90%;
}

.right {
    background-color: #f9f9f900;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.separator {
    width: 0.2rem;
    background-color: rgba(249, 195, 195, 0.8);
}

/* Heading Styles */
h1,
h2 {
    text-align: center;
    color: #565656;
}

.input-title {
    font-size: 1.5rem;
    color: #555;
}

.input-area {
    width: 97%;
    height: 95%;
    padding: 0.5rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 19px;
    resize: none;
    font-style: normal;
    font-family: 'Calibri', Times, serif;
}

.input-area:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Button Styles */
button {
    padding: 8px 20px;
    margin: 0 10px;
    font-size: 14px;
    border-color: #e1dede;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: #3c5899;
    color: rgb(255, 255, 255);
    transition: ease-out 0.5s;
    box-shadow: 0px 0px 10px rgba(35, 35, 35, 0.7);
    transform: translateY(-3px);
}

button:active {
    transform: scale(0.98);
    transition: ease-in;
}

/* Timer Styles */
#timer {
    display: inline-block;
    font-size: 2rem;
    color: #ffffff;
    padding: 0 15px 0 15px;
    font-weight: bold;
    margin-right: 2rem;
    border: whitesmoke 2px solid;
    border-radius: 5px;
}

/* Image Area Styles */
.image-area {
    display: flex;
    width: 90%;
    height: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ffffff;
    border-radius: 10px;
    padding: 2rem;
    position: relative;
    cursor: pointer;
}

.image-area input[type="file"] {
    display: none;
}

.image-area #imageContainer img {
    max-width: 100%;
    max-height: 100%;

}

.image-controls {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.image-controls button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.image-controls button:hover {
    background-color: #555;
}

p {
    font-size: 20px;
    margin: 15px 0;
    color: #34495e;
    font-weight: bold;
}